blinker==1.8.2
click==8.1.7
colorama==0.4.6
Flask==3.0.3
Flask-Mail==0.10.0
Flask-Migrate==4.0.7
Flask-SQLAlchemy==3.1.1
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
MarkupSafe==2.1.5
nltk==3.9.1
regex==2024.7.24
textblob==0.18.0.post0
tqdm==4.66.5
Werkzeug==3.0.4
SQLAlchemy==2.0.34
psycopg2-binary==2.9.9



