{% extends 'layout.html' %}
  
{% block title %}About N{% endblock %}
  
{% block content %}
<h1>More about the neural network</h1>
<div>
<p>A neural network (also an artificial neural network, INS, or simply a neural network) is a mathematical model, as well as its software or hardware embodiment, built on the principle of organizing biological neural networks — networks of nerve cells of a living organism. This concept arose when studying the processes occurring in the brain, and when trying to simulate these processes. The first such attempt was the neural networks of W. McCulloch and W. Pitts. After the development of learning algorithms, the resulting models began to be used for practical purposes: in forecasting tasks, for pattern recognition, in management tasks, etc.</p>
<div class="container_" style="width: 100%;  background-color: rgba(255, 255, 255, 0.5); padding: 5px">
    <p>
        - Our website is the first step towards understanding neural networks. (It depends on what level you are at) We strive to create a world where a neural network will help a person, not enslave him.<br>
- This site contains types of neural network construction for generating text, photos, photos by text.<br>
        - You can try to create a neural network based on our example or upload your example, describing the steps in detail so that students can understand your code.<br>
        - When creating an entry, your post automatically goes to the home and post tab, where other users can add it to favorites.<br>
        - You, as well as all users, can interact with your post by changing it, or by adding other users' post to your favorites, so as not to forget it.<br>
        - Remember, you don't have to have a powerful computer to create a neural network. The simplest neural network can be made on a smartphone.<br>
    - It is not necessary to send only a neural network model, you can share your achievements in other fields and also help students in their studies.<br>
    </p>
    </div>
</div>
<h3>An example of simple neural networks</h3>

    <div class="container_" style="width: 100%;  background-color: rgba(255, 255, 255, 0.5); padding: 5px">
- Neural network for classification task.<br>
    - Neural network for time series analysis.<br>
    - Convolutional neural networks for image classification.<br>
    - Computer vision.<br>
    - Voice control.<br>
    Much more.
    </div>
{% endblock %}