{% extends 'layout.html' %}
  
{% block title %}About N{% endblock %}
  
{% block content %}
<h1>You can contact me</h1>
<div>
<table>
        <tr>
            <td>Email:</td>
            <td>Thetl03@gmail.com</td>
        </tr>
  <tr>
            <td>Tg:</td>
            <td>@PashaPetriaev</td>
        </tr>
        <tr>
            <td>Vk:</td>
            <td>id2085536542</td>
        </tr>
    </table>
</div>
<div class="container_" style="width: 100%;  background-color: rgba(255, 255, 255, 0.5); padding: 5px">
    <p>A couple of our projects:</p>
    <a class="btn" style="background-color: rgba(25,125,25,0.5); color: black; margin: 5px" href='https://chat-bot-nine-gules.vercel.app/'>Chat-Bot</a><br>
    <a class="btn" style="background-color: rgba(25,125,25,0.5); color: black; margin: 5px" href='https://a-bot.vercel.app/'>Mood Analyzer</a>
    </div>
    <p style="font-size: 13px">Website design / logo Thetl Inc. Last updated 09/19/2024 - version 0.0.2<br>
    All data is open, the information of the user's post is open for borrowing. The user's data is encrypted.</p>
{% endblock %}